<!-- <app-rooms>
  <h1>This is from ng-content</h1>
</app-rooms> -->
<h1>hello world</h1>
<app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>This is from ng-content</h1>
</app-container>
<div #name>

</div>
 <!-- #user is an template reference which can be accessed inside the .ts files using @ViewChild -->
<!-- <div>
  <ng-template #user></ng-template>
</div> -->

 <!-- if we only put "" then it will treate it as variable so u ahve o put '' to treat it as string -->
<!-- <div [ngSwitch]="role"> 
    <div *ngSwitchCase="'User'">
      <p>Welcome User</p>
    </div>
    <div *ngSwitchCase="'Admin'">
      
    </div>
    <div *ngSwitchDefault>
        <p>Please login to acces this page</p>
    </div>
</div> -->